.example-form {
  margin: 24px auto;
  width: fit-content;
  min-width: 70%;
}

.input-box {
  display: flex;
}

.example-full-width {
  width: 100%;
  margin: 12px;
}

.input_fileupload--hidden {
  display: none;
}
