.container {
  height: calc(100vh - 64px);
}
.toolbar-bgcolor {
  background-color: #a900a9;
}

a {
  display: flex;
  align-items: center;
}
a mat-icon {
  font-size: 25px;
  margin-right: 12px;
  vertical-align: middle;
}

mat-sidenav-container {
  height: 100%;
}
